* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url('../img/bg/main_bg_2.jpg') center center/cover no-repeat;
    padding: 0 0 0 0;
}

.logo .logo_img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: rgb(4, 40, 158);
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    margin-top: 50px;
}

.title {
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

h2.title {
    margin-top: 30px;
}

.simple .title_big {
    color: rgb(230, 177, 6);
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

.promo .promo_text {
    color: rgb(0, 0, 0);
    margin-top: 25px;
    font-size: 25px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.promo .promo_text span {
    color: rgb(3, 143, 45);
    font-weight: 700;
}

.promo .promo_btn,
.gift .gift_btn {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 320px;
    height: 80px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    color: white;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.gift .gift_btn {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: none;
}

.more {
    margin-top: 30px;
}

.more .more_text {
    color: black;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

.waiting {
    min-width: 650px;
    background-color: #efefef;
    padding: 30px 0 30px 0;
}

.waiting .waiting_header,
.finish .finish_header {
    color: black;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.waiting .waiting_divider,
.finish .finish_divider {
    width: 220px;
    height: 4px;
    background-color: rgb(230, 177, 6);
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 200px;
    height: 200px;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    color: #299cbd;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 500px;
    padding: 80px 0 70px 0;
    background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;
}

.finish .finish_wrapper {
    display: flex;
    margin-top: 45px;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 210px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.gift {
    min-height: 650px;
    padding: 86px 0 87px 0;
    background-color: #efefef;
}

.gift .gift_img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.gift .gif_text {
    margin-top: 40px;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.first {
    min-height: 500px;
    padding: 80px 0 60px 0;
}

.first .first_img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.first .first_text {
    margin-top: 30px;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.first .date {
    margin-top: 30px;
    color: #299cbd;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.first .first_subtitle {
    margin-top: 25px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

footer {
    min-height: 200px;
    background-color: #1a1a1a;
    padding: 60px 0 70px 0;
}

.info {
    margin: 0 auto;
    width: 377px;
    text-align: center;
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

footer a {
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
}